body {
    font-family: "Outfit", sans-serif;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
    color: #000;
}

img {
    width: 100%;
    height: 100%;
}

.line {
    height: 1px;
    background: #000;
    margin: 0 auto;
    display: block;
}

.view {
    opacity: 1 !important;
    width: 100px;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translate3d(0, 0, 0) !important;
}

h2 {
    font-size: 20px;
    text-align: center;
    padding: 8px 0px;
    font-weight: 300;
    letter-spacing: 3px;
}

.title {
    margin-bottom: 40px;
}

section {
    margin-bottom: 40px;
}

.btn_black {
    width: 140px;
    height: 30px;
    line-height: 30px;
    padding: 10px;
    font-size: 13px;
    border-bottom: 2px solid #333;
    transform: perspective(1px) translateZ(0);
    text-align: center;
    background: white;
    color: black;
}

.btn_black:hover {
    background: black;
    color: white;
}

/* header */

header {
    position: sticky;
    top: 0;
    z-index: 999;
    margin: 0 auto;
}

header .dropdown:hover > .dropdown-menu {
    display: block;
}

header .dropdown > .dropdown-toggle:active {
    pointer-events: none;
}


header .main-menu .navbar-brand {
    padding: 0;
}

.icon_header li {
    width: 50px;
    height: 50px;
    padding: 8px;
}

.icon_header img {
    width: 24px;
    height: 24px;
}

.menu-custom > .menu > li {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 10px;
    transition: all 1s cubic-bezier(0.19,1,0.22,1);
    color: #222;
}

.menu-custom > .menu > li a{
    display: block;
}

.menu-custom > .menu > li::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 100%;
    bottom: 5px;
    background: #333;
    height: 1px;
    transition: all 0.5s cubic-bezier(0.19,1,0.22,1);
}

.menu-custom > .menu > li:hover::before {
    right: 0;
}

.menu-custom > .menu > li:hover > .sub-menu {
    display: block;
}

.sub-menu {
    position: absolute;
    top: 90%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    font-size: 13px;
    color: #333;
    line-height: 30px;
    font-weight: 300;
    padding: 10px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #333;
    text-align: center;
}

.sub-menu > li:hover {
    background: #eee;
    transition: all 0.5s cubic-bezier(0.19,1,0.22,1);
    border-radius: 3px;
}

.search_modal .modal-body,
.search_modal .modal-content{
    background: transparent;
    border: none;
}

.search_modal .modal-body {
    position: relative;
}

.search_modal .modal-body .close{
    position: absolute;
    top: -70px;
    right: -70px;
    width: 50px;
    height: 50px;
    transition: all 0.5s cubic-bezier(0.19,1,0.22,1);
}

.search_modal .modal-body .close span {
    position: absolute;
    background: #fff;
}

.search_modal .modal-body .close span:nth-child(1) {
    height: 0px;
    width: 1px;
    top: 10px;
    left: 38px;
    transform: rotate(45deg);
    transform-origin: top left;
}

.search_modal .modal-body .close span:nth-child(2) {
    width: 0px;
    height: 1px;
    top: 10px;
    left: 11px;
    transform: rotate(45deg);
    transform-origin: top left;
}

.search_modal .modal-body .close span:nth-child(1) {
    height: 40px;
    transition: all 0.5s cubic-bezier(0.19,1,0.22,1);
    transition-delay: 0.3s;
}

.search_modal .modal-body .close span:nth-child(2) {
    width: 40px;
    transition: all 0.5s cubic-bezier(0.19,1,0.22,1);
    transition-delay: 0.6s
}

.search_modal .modal-body .close:hover {
    transform: rotate(90deg);
}

.search_modal .modal-body .search_input {
    border-bottom: 1px solid #fff;
    transition: all 0.7s cubic-bezier(0.19,1,0.22,1);
}

.search_modal .modal-body .search_input input {
    position: relative;
    width: 94%;
    height: 70px;
    line-height: 70px;
    border: none;
    background: none;
    font-size: 20px;
    color: #fff;
    text-indent: 5px;
    transition: all 0.7s cubic-bezier(0.19,1,0.22,1);
    border-radius: 0;
    text-align: center;
}

.search_modal .modal-body .search_input input:focus-visible {
    outline: none;
}

.search_modal .modal-body .search_input button{
    border: none;
    padding: 0;
    background: transparent;
}

.search_modal .modal-body .search_input button i{
    font-size: 25px;
    color: white;
}



@media screen and (max-width: 992px) {
    .sub-menu {
        position: static;
        float: none;
        text-align: left;
    }
}





/*Main*/

main {
    padding: 0 0 80px;
}

#main_slide {
    position: relative;
    margin: 0 auto;
    transition: margin 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#main_slide .content {
    position: relative;
}

#main_slide .content.left {
    text-align: left;
    max-width: 1000px;
    height: 0;
    position: absolute;
    top: 35%;
    left: 29%;
    transform: translate(-50%, -50%);
}

#main_slide .content .title {
    font-size: 20px;
    margin: 0 0 0 5px;
}

#main_slide .content .main {
    font-size: 35px;
    line-height: 35px;
    margin: 30px 0 0;
    word-spacing: 3px;
    font-weight: 500;
    color: white;
}

#main_slide .content .sub {
    font-size: 20px;
    line-height: 25px;
    margin: 20px 0 40px 5px;
    color: white;
}

#main_slide .content .button {
    position: relative;
    width: 100px;
    height: 20px;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-size: 15px;
    margin: 0;
}

#main_slide .content .button a {
    color: white;
}

@media screen and (max-width:1024px) {

    #main_slide .content {
        text-align: center !important;
    }

    #main_slide .content.left {
        top: 12%;
        left: 50%;
        width: 100%;
    }

    #main_slide .content .title {
        font-size: 15px;
        margin: 0;
    }

    #main_slide .content .main {
        font-size: 30px;
        margin: 25px 0 0;
    }

    #main_slide .content .sub {
        font-size: 15px;
        margin: 25px 0;
    }

    #main_slide .content .button { 
        margin: 0 auto!important;
        float: none!important;
    }
 
}

.block_type span.main {
    margin-top: 10px;
    font-size: 20px;
    word-break: keep-all;
    word-wrap: break-word;
    text-align: center;
    display: block;
}

/* Benefit  */


.block_benefit {
    padding: 0 30px;
}

@media screen and (max-width:1024px) {
    .block_benefit {
        padding: 0 5px;
    }
}


/* Best choice  */

.block_bestchoice {
    padding: 0 30px;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}

.block_bestchoice .description {
    padding: 20px;
}

.block_bestchoice .description .name {
    border-bottom: 1px solid #999;
    padding-bottom: 20px;
}

.block_bestchoice .description .name a {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    color: black;
}

.block_bestchoice .description .price {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 500;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: flex-end;
}

.block_bestchoice .description .price del {
    font-size: 13px;
    color: #999;
    text-decoration: line-through;
}

.block_bestchoice .description .price ins {
    text-decoration: none;
}

@media screen and (max-width:1024px) {
    .block_bestchoice {
        padding: 0 5px;
    }
    
    .block_bestchoice .description {
        padding: 5px;
    }
}

/* Story */
#parallax {
    position: relative;
    overflow: hidden;
    background-image: url("../img/Brand_PC.jpg");
    background-attachment: fixed;
    width: 100%;
    margin: 50px auto 100px auto;
    text-align: center;
}

.area {
    position: relative;
    min-height: 100%;
    width: 100%;
    padding: 10% 0;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    transform: none !important;
}

.block_story .title {
    position: relative;
    bottom: 40vh;
    font-size: 35px;
    width: 270px;
    margin: 0 auto;
    font-weight: normal;
    color: #fff;
    font-weight: 700;
}

.block_story .title .line {
    background: white;
}

.block_story .brand_story {
    max-width: 1530px;
    width: 100%;
    margin: -30vh auto 0;
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block_story .brand_story .img,
.block_story .brand_story .txt {
    width: 50%;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.3);
    text-align: left;
}

@media screen and (max-width: 1024px) {
    .block_story .brand_story .img,
    .block_story .brand_story .txt {
        width: 100%;
    }

    #parallax {
        display: none;
    }

    .block_story {
        margin: 80px 0 0;
        padding-bottom: 40px;
    }

    .block_story .title {
        font-size: 25px;
        bottom: 2vh;
        color: #000;
    }

    .block_story .title .line {
        background: #000;
        margin: 10px auto 0 auto;
    }

    .block_story .brand_story  {
        margin: 0 auto 0;
    }
}

.block_story .brand_story .txt {
    padding: 30px;
    background: white;
    position: relative;
}

.block_story .brand_story .txt h3 {
    font-size: 35px;
    font-weight: 300px;
    margin-bottom: 10px;
}

.block_story .brand_story .txt p {
    font-size: 16px;
    line-height: 30px;
}

/* Product  */

.block_review {
  padding: 0 20px;
}

.block_review .image {
  border-radius: 4px;
  overflow: hidden;
}

.block_review .box_review {
  border:1px solid #efefef;
  margin-top: 20px;
}

.block_review .review_text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  font-size: 12px;
}

.block_review .name_reviewer {
  font-size: 11px;
  color: #b2b2b2;
  font-weight: 300;
}

.block_review .detail_review {
  padding: 10px;
}

.block_review .col-6 {
    padding: 0 5px;
}

.box_review_sub {
  padding: 10px;
  gap: 10px
}

.box_review_sub .image{
  width: 44px;
  height: 55px;
  margin-right: 5px;
  flex-shrink: 0;
}

.box_review_sub .txt p{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  font-size: 12px;
}

.box_review_sub .item_rating {
  margin-right: 10px;
}

.box_review_sub .item_rating .value{
    color: #292929;
    font-weight: bold;
}

.modal_zoom_image {
    max-width: 1040px; 
    height: 640px;
    position: relative;
}

.modal_zoom_image .close {
    position: absolute;
    top: -30px;
    right: -30px;
}

.modal_zoom_image .close span{
    font-size: 50px;
}

.modal_zoom_image .modal-body {
    padding: 0;
}

.modal_zoom_image .info_modal {
    padding: 10px 20px;
}

.modal_zoom_image .detail_modal {
    background: #F2F2F2;
    padding: 10px 20px;
}

.modal_zoom_image .detail_modal .date{
    font-size: 11px;
    font-weight: 400;
    color: #1A1B1D;
}

.modal_zoom_image .detail_modal {
    text-align: left;
    color: #616161;
    font-size: 12px;
}


.modal_zoom_image .box_review_sub .image {
    width: 74px;
    height: 74px;
}

.modal_zoom_image .choosed {
    padding: 7px 0;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
}

.modal_zoom_image .choosed p{
    font-weight: 500;
    color: #999999;
    font-size: 11px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.modal_zoom_image .para {
    font-size: 12px;
    color: #393939;
    padding: 15px 0px;
}

/* Footer  */

.bottom_nav {
    padding: 10px 30px;
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    height: 52px;
    transition: all 1s cubic-bezier(0.19,1,0.22,1);
    background: white;
    z-index: 999;
}

.bottom_nav_hide {
    transform: translate3d(0,60px,0);
}

.bottom_nav img {
    width: 27px;
    height: 27px;
}

.bottom_nav .navbar-toggler:focus {
    outline : none;
}

.bottom_nav .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.block_footer {
    padding: 0 30px 20px;
}

.block_footer .title{
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: 500;
    padding: 15px 0;
    margin-bottom: 0;
}

.block_footer .contents {
    line-height: 23px;
    padding: 5px 5px 5px 0;
    color: #333;
    display: inline-block;
    font-size: 13px;
}


.block_footer .contents a::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #333;
    height: 1px;
    transition: all 0.5s cubic-bezier(0.19,1,0.22,1);
}

.block_footer .contents a:hover::before{
    right: 0;
}

.block_footer .contents .call {
    font-weight: 400;
    font-size: 25px;
    padding: 0 0 15px 0;
}

.block_footer .contents .company {
    font-size: 20px;
    padding: 0 0 15px 0;
}

.block_footer .contents strong {
    color: #999;
}

.block_footer .contents span {
    margin: 0 10px 0 0;
}

.block_footer .cpr_area {
    padding-top: 30px;
    border-top: 1px solid #eee;
    font-size: 12px;
    color: #999;
}

@media (max-width: 1024px) {
    .block_footer .contents {
        display: none;
    }

    .block_footer .row .col-lg-3{
        text-align: center;
        border-top: 1px solid #eee;
    }

    .block_footer .contents.active {
        display: block;
        padding: 15px 0;
    }

    .block_footer .title {
        cursor: pointer;
    }
}

.block_footer .col-lg-3 > .title::before {
    top: 3px;
    left: 200px;
}

.block_footer .col-lg-3 > .title::before {
    position: absolute;
    top: 5px;
    right: 5px;
    content: "";
    display: none;
    background: #333;
    width: 15px;
    height: 1px;
    margin: 23px auto 0;
    transition: .3s ease-out;
    transform: rotate(90deg);
}

.block_footer .col-lg-3.selected > .title::before {
    transform: rotate(0deg);
    opacity: 0;
}

.block_footer .col-lg-3 > .title::after {
    top: 28px;
    left: 200px;
}

.block_footer .col-lg-3 > .title::after {
    position: absolute;
    top: 30px;
    right: 5px;
    content: "";
    display: none;
    background: #333;
    width: 15px;
    height: 1px;
    margin: -2px auto 0;
    transition: .3s ease-out;
    transform: rotate(0deg);
}

.block_footer .col-lg-3.selected > .title::after {
    opacity: 1;
}

@media screen and (max-width: 1024px){
    .block_footer .col-lg-3 > .title::after,
    .block_footer .col-lg-3 > .title::before {
        display: block;
    }
}


/* List Product  */
.block_banner {
    padding: 110px 30px 50px;
}

.block_banner .title {
    margin: 0px 0 40px;
    text-align: center;
}

.block_banner .title h1 {
    font-size: 24px;
    font-weight: 700;
}

.block_banner .banner {
    position: relative;
}

.block_banner .banner .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.block_banner .content .main {
    font-size: 30px;
    line-height: 20px;
    margin: 30px 0 0;
    word-spacing: 3px;
    font-weight: 700;
}

.block_banner .content .sub {
    font-size: 20px;
    margin: 30px 0 30px 5px;
    font-weight: 200;
}

.block_product {
    padding: 0 30px;
}

.block_product .count{
    color: #333;
    font-size: 16px;
}

.block_product .soft select{
    color: #333;
    font-size: 16px;
    padding: 0 15px ;
    height: 40px
}

.block_product .products_slide {
    margin-top: 30px;
}

.products_slide {
    margin-bottom: 40px;
}

.products_slide .description {
    padding: 20px;
}

.products_slide .description .name {
    border-bottom: 1px solid #999;
    padding-bottom: 20px;
    text-align: center;
}

.products_slide .description .name a {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    color: black;
}

.products_slide .description .price {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 500;
    color: black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
}

.products_slide .description .price del {
    font-size: 13px;
    color: #999;
    text-decoration: line-through;
    white-space: nowrap;
}

.products_slide .description .price ins {
    text-decoration: none;
}

@media screen and (max-width:1024px) {
    .block_product {
        padding: 0 5px;
    }
    
    .products_slide .description {
        padding: 5px;
    }
}

.box_pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_pagination a {
    width: 34px;
    height: 34px;
    text-align: center;
    padding: 9px 0;
}

.box_pagination a.middle {
    border-top: 1px solid #000;
}


/* details Product  */ 
.block_detail_product {
    padding: 80px 0;
}

.block_detail_product .thumb_slide {
    margin: 10px 0;
    height: 177px;
}

.block_detail_product .thumb_slide img {
    height: 100%;
    object-fit: cover;
}

.block_detail_product h1{
    font-size: 30px;
    color: #333;
    padding: 20px 75px 0 0;
    font-weight: 500 !important;
    border-top: 2px solid #333;
}

.block_detail_product .price {
    vertical-align: middle;
    color: #bdbdbd;
    font-size: 14px;
    line-height: 1.45em;
    padding: 5px 5px 5px 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.block_detail_product .price ins {
    font-size: 32px;
    line-height: 1.45em;
    color: #656e75;
    padding: 5px 5px 5px 0;
    text-decoration: none;
    color: #222;
    font-weight: 700;
}

.block_detail_product  .sale p {
    color: #333;
    font-size: 28px;
    font-weight: 700;
    padding: 5px 0;
}

.block_detail_product .woocommerce-product-details__short-description {
    margin:20px 0;
}

.block_detail_product .sale span {
    font-size: 32px;
}

.block_detail_product .coupon {
    padding:0 0 15px;
    border-bottom: 1px solid #eee;
}

.block_detail_product .coupon p{
    font-size: 24px;
    font-weight: 700 !important;
    color: #C15740;
    display: inline-block;
}

.block_detail_product .coupon em {
    color: #C15740;
    margin-left: 11px;
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
}

.block_detail_product .coupon .btn-download{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 5px;
    background-color: #C15740;
    font-size: 19px;
    font-weight: 500;
    width: 130px;
    height: 39px;
    border: none;
}


.block_detail_product .info-list {
    padding: 20px 0 0;
}   

.block_detail_product .info-list ul {
    padding: 0;
}


.block_detail_product .info-list ul li {
    display: flex;
    align-items: flex-start;
}

.block_detail_product .info-list ul>li ul {
    margin-bottom: -4px;
}

.block_detail_product .info-list ul>li li {
    margin-bottom: 4px;
    margin-top: 0 !important;
}

.block_detail_product .info-list ul>li li span {
    position: relative;
}

.block_detail_product .info-list ul>li li span::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    height: 12px;
    background: #bbb;
    transform: translate(0,-50%);
}

.block_detail_product .info-list ul>li li div {
    padding-left: 10px;
}

.block_detail_product .info-list ul>li+li {
    margin-top: 14px;
}

.block_detail_product .info-list ul li>span {
    width: 50px;
    font-size: 14px;
    color: #828c94;
    line-height: 22px;
}

.block_detail_product .info-list>ul>li>span {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    line-height: 22px;
}

.block_detail_product .info-list ul li div {
    width: calc(100% - 50px);
    font-size: 14px;
    color: #292929;
    line-height: 22px;
    font-weight: 500;
    box-sizing: border-box;
}

.block_detail_product .info-list ul li div button {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    line-height: 1.5em;
    font-size: 14px;
    color: #292929;
    font-weight: 500;
}

.block_detail_product .info-list ul li div button svg {
    display: inline-block;
}

.block_detail_product .info-list ul li div.delivery_info .delivery_price.text_ {
    display: none;
}

.block_detail_product .info-list ul li div.delivery_info .delivery_text span+span {
    margin-left: 5px;
}

.block_detail_product .info-list .strike {
    text-decoration: line-through;
    font-weight: normal;
}

.block_detail_product .total_txt {
    line-height: 18px;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
    max-width: 230px;
    font-size: 13px;
    margin-right: 10px;
}

.block_detail_product .quantity_product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.block_detail_product .choosenumber{
    display: flex;
    align-items: center;
}

.block_detail_product .choosenumber input{
    height:30px;
    width: 45px;
    text-align: center;
    font-size: 13px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    color: #000;
}

.block_detail_product .choosenumber input::-webkit-outer-spin-button,
.block_detail_product .choosenumber input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.block_detail_product .choosenumber .minus,
.block_detail_product .choosenumber .plus{
    width: 30px;
    height: 30px;
    border: 1px solid #eee;
    box-sizing: border-box;
    overflow: hidden;
    padding: 1px;
    text-align: center;
    font-size: 10px;
    line-height: 3;
}

.block_detail_product .quantity_price {
    color: #333!important;
    font-size: 13px!important;
}

.totalPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    vertical-align: middle;
    background: #fff;   
    padding: 20px 10px 40px;
    border-bottom: 2px solid #2b2f3a !important;
    margin-bottom: 20px;
}

.totalPrice .title {
    margin-bottom: 0;
}

.actual_button {
    display: flex;
    align-items: center;
}

.actual_button .add_cart {
    padding: 10px;
    width: 100px;
    text-align: center;
    background-color: #f6f8f7;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single_add_to_cart_button  {
    width: 100%;
    background-color: black !important;
    color: white;
    font-weight: 700;
    padding: 22px 0;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
    height: 60px;
    margin: 20px 0 !important;
}

.voucher_slider {
    margin-top: 20px;
}

.voucher_slider .swiper-pagination-bullet-active {
    background: #C15740;
}

.box_info_prod {
    margin-top: 50px;
}


.box_info_prod .card {
    border: none;
}

.box_info_prod .card-header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box_info_prod .card-header h2 {
    width: 100%;
}

.box_info_prod .card-header h2 button{
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

.box_info_prod .card-header .title {
    margin-bottom: 0;
    position: relative;
}

.box_info_prod .card-body {
    border-bottom: 1px solid #ccc;
    color: #6d6d6d;
    line-height: 22px;
    font-size: 12px;
}

.box_info_prod .card-header > .title::before {
    top: 3px;
}

.box_info_prod .card-header > .title::before {
    position: absolute;
    top: 0px;
    right: 5px;
    content: "";
    display: block;
    background: #333;
    width: 15px;
    height: 1px;
    transition: .3s ease-out;
    transform: rotate(90deg);
}

.box_info_prod .card-header.selected > .title::before {
    transform: rotate(0deg);
    opacity: 0;
}

.box_info_prod .card-header > .title::after {
    top: 28px;
}

.box_info_prod .card-header > .title::after {
    position: absolute;
    top: 0px;
    right: 5px;
    content: "";
    display: block;
    background: #333;
    width: 15px;
    height: 1px;
    transition: .3s ease-out;
    transform: rotate(0deg);
}

.box_info_prod .card-header.selected > .title::after {
    opacity: 1;
}

.box_rating {
    width: 40%;
    height: 60px;
    background: white;
    flex-shrink: 0;
    font-weight: 700;
    padding: 22px 0;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
    border-right: 1px solid #ccc;
}

.box_rating p {
    position: relative;
    width: max-content;
    margin: auto;
}

.box_rating .number_rate {
    position: absolute;
    top: -20px;
    background: #C15740;
    right: -20px;
    padding: 2px 10px;
    border-radius: 11px;
}

@media screen and (max-width:1024px) {
    .block_detail_product {
        padding: 40px 0;
    }

    
    .block_detail_product .thumb_slide {
        height: 125px;
    }

    .actual_button { 
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 1000;
        left: 0;
    }
}
